<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            height: 100%;
            margin: 0;
            width: 100%;
            overflow: hidden;
            font-family: system,
            -apple-system,
            'San Francisco',
            '.SFNSDisplay-Regular',
            'Segoe UI',
            Segoe,
            'Segoe WP',
            'Helvetica Neue',
            helvetica,
            'Lucida Grande',
            arial,
            sans-serif;
        }

        #graphiql {
            height: 100vh;
        }

        .container {
            height: 100vh;
        }

        form.loginForm {
            padding: 10px;
            display: flex;
            position: absolute;
            left: 420px;
            top: 5px;
            right: 0;
            text-align: right;
        }

        .loginForm label {
            margin-right: 20px;
        }

        .loginForm input {
            margin-right: 20px;
            padding: 2px 5px;
        }

        .loginForm input:read-only {
            background: transparent;
            border: none;
        }
    </style>
    <script src="./js/es6-promise.auto.min.js"></script>
    <script src="./js/fetch.min.js"></script>
    <script src="./js/react.min.js"></script>
    <script src="./js/react-dom.min.js"></script>
    <script src="./js/md5.min.js"></script>
    <link rel="stylesheet" href="./css/graphiql.css" />
    <script src="./js/graphiql.min.js"></script>
</head>

<body>
<div id="graphiql">Loading...</div>
<script>
    /**
     * This GraphiQL example illustrates how to use some of GraphiQL's props
     * in order to enable reading and updating the URL parameters, making
     * link sharing of queries a little bit easier.
     *
     * This is only one example of this kind of feature, GraphiQL exposes
     * various React params to enable interesting integrations.
     */
        // Parse the search string to get url parameters.
    var search = window.location.search;
    var username = "superadmin";
    var password = "password";
    var parameters = {};
    var access_token = null;
    search.substr(1).split('&').forEach(function (entry) {
        var eq = entry.indexOf('=');
        if (eq >= 0) {
            parameters[decodeURIComponent(entry.slice(0, eq))] =
                decodeURIComponent(entry.slice(eq + 1));
        }
    });
    // if variables was provided, try to format it.
    if (parameters.variables) {
        try {
            parameters.variables =
                JSON.stringify(JSON.parse(parameters.variables), null, 2);
        } catch (e) {
            // Do nothing, we want to display the invalid JSON as a string, rather
            // than present an error.
        }
    }
    // When the query and variables string is edited, update the URL bar so
    // that it can be easily shared
    function onEditQuery(newQuery) {
        parameters.query = newQuery;
        updateURL();
    }

    function onEditVariables(newVariables) {
        parameters.variables = newVariables;
        updateURL();
    }

    function onEditOperationName(newOperationName) {
        parameters.operationName = newOperationName;
        updateURL();
    }

    function updateURL() {
        var newSearch = '?' + Object.keys(parameters).filter(function (key) {
            return Boolean(parameters[key]);
        }).map(function (key) {
            return encodeURIComponent(key) + '=' +
                encodeURIComponent(parameters[key]);
        }).join('&');
        history.replaceState(null, null, newSearch);
    }

    // Defines a GraphQL fetcher using the fetch API. You're not required to
    // use fetch, and could instead implement graphQLFetcher however you like,
    // as long as it returns a Promise or Observable.
    function graphQLFetcher(graphQLParams) {
        // This example expects a GraphQL server at the path /graphql.
        // Change this to point wherever you host your GraphQL server.
        headers = {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        };
        if (access_token) {
            headers['Authorization'] = 'Bearer ' + access_token;
        }
        return fetch('/graphql', {
            method: 'post',
            headers: headers,
            body: JSON.stringify(graphQLParams),
        }).then(function (response) {
            return response.text();
        }).then(function (responseBody) {
            try {
                const json = JSON.parse(responseBody);
                if (
                    json.errors &&
                    json.errors[0].errorType === "DataFetchingException" &&
                    json.errors[0].extensions &&
                    json.errors[0].extensions.code === "401"
                ) {
                    alert("您没有足够权限完成操作，请再次登录试试！");
                    document.getElementById("loginLabel").innerHTML = "请登录";
                    document.getElementById("username").removeAttribute("readonly");
                    document.getElementById("password").setAttribute("style", "display: block");
                    document.getElementById("loginBtn").setAttribute("style", "display: block");
                }
                return json;
            } catch (error) {
                return responseBody;
            }
        });
    }

    function onLogin(e) {
        e.preventDefault();
        e.stopPropagation();
        return fetch('/login', {
            method: 'post',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CHANNEL': "GraphiQL"
            },
            credentials: "include",
            body: JSON.stringify({
                username: md5(username),
                password: md5(password)
            })
        }).then(function (response) {
            if (response.status !== 200) {
                alert("Login failed (" + response.status + ")");
            } else {
                document.getElementById("loginLabel").innerHTML = "欢迎";
                document.getElementById("username").setAttribute("readonly", "true");
                document.getElementById("password").setAttribute("style", "display: none");
                document.getElementById("loginBtn").setAttribute("style", "display: none");
                return response.text();
            }
        }).then(function (responseBody) {
            access_token = JSON.parse(responseBody).access_token;
        });
    }

    function onUsernameChange(e) {
        username = e.target.value;
    }

    function onPasswordChange(e) {
        password = e.target.value;
    }

    // Render <GraphiQL /> into the body.
    // See the README in the top level of this module to learn more about
    // how you can customize GraphiQL by providing different values or
    // additional child elements.
    var graphiQLElement = React.createElement(GraphiQL, {
        fetcher: graphQLFetcher,
        query: parameters.query,
        variables: parameters.variables,
        operationName: parameters.operationName,
        onEditQuery: onEditQuery,
        onEditVariables: onEditVariables,
        onEditOperationName: onEditOperationName
    });
    var tokenInput = React.createElement("form", {
        className: "loginForm",
        id: "loginForm",
        onSubmit: onLogin,
        children: [
            React.createElement("label", {
                children: "请登录",
                id: "loginLabel"
            }),
            React.createElement("input", {
                type: "text",
                placeholder: "用户名",
                required: true,
                defaultValue: username,
                onChange: onUsernameChange,
                id: 'username'
            }),
            React.createElement("input", {
                type: "password",
                placeholder: "密码",
                defaultValue: password,
                required: true,
                id: "password",
                onChange: onPasswordChange
            }),
            React.createElement("button", {
                type: "submit",
                children: "Login",
                id: "loginBtn",
            })
        ]
    });
    ReactDOM.render(
        React.createElement("div", {
            className: "container",
            children: [tokenInput, graphiQLElement]
        }),
        document.getElementById('graphiql')
    );
</script>
</body>
</html>